@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');

:root{
    --dark-brown: #0d0d0d;
    --ama: #f2b33d;
    --nar: #F2790f;
    --caf: #8c3604;
    --gri: #59463f;
    --bla: #fdf5e7;
}
*{
    box-sizing: border-box;
}

html {
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Ysabeau SC", sans-serif;
    background-image: url('/imgs/wooden-table-with-blurred-restaurant-scene.jpg');
    background-size: 100%;
} 

.contenedor{
    width: 100%;
    margin: 0 auto;
}
.hero img {
    width: 100%;
    height: auto;
}

header{
    background-color: #ffffff90;
    height: 100px;
    position: relative ;
    margin-top: 75px;
}
header h1{
    position: absolute;
    top: -82px;
    left: 120px
}
header h1 a{
    display: block;
    width: 183px;
    height: 223px;
    text-indent: -9999px;
    background-image: url(../imgs/bezierbar_logo.svg);
}
header nav{
    margin-left: 850px;
}
header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
header nav ul li{
}

header nav ul li a{
    display: block;
    height: 100px;
    padding: 45px 25px 0 25px;
    text-decoration: none;
    font-weight: 700;
    color: var(--dark-brown);
    transition: all 500ms;
}
header nav ul li a:hover{
    background: linear-gradient(0deg, var(--nar) 0%, var(--ama) 100%);
}
header nav ul li a:active{

}
main {
    padding: 570px;
}
.events ul li{
    border-radius: 10px;
    overflow: hidden;
    width: 271px;
    height: 127px;
    
}
.events ul li img{
    height: 127px;
    width: auto;
}

footer{
    background: #59463F;
    padding: 15px;
}

.submenu li a:hover{
    background: var(--gri);
}
.hero{
    display: flex;
}
.hero img{
    padding-top: 35px;
    padding-left: 1000px;
    height: 500px;
    width: auto;
}
.hero h1{
    padding-top: 100px;
    color: white;
    font-size: 200px;
    letter-spacing: -5px;
    line-height: 195px;
}

.submenu{
    position: absolute;
    list-style: none;
}