

html {
    margin: 0;
}
body{
    background: #0D0D0D;
    margin: 0;
    padding: 0;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    background: #fdf5e7;
}

header{
    padding: 15px;
}
main {
    padding: 15px;
}

footer{
    background: #59463F;
    padding: 15px;
}